.card-location {
  background-color: #fff8c6;
  border: 3px solid #FFDE00;
  border-radius: 10px;
  padding: 16px;
  max-width: 350px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* sombra inicial neutra */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 0.6s ease-in-out;
}

.card-location:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 20px #fdd835; /* sombra amarilla inferior */
}

.location-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 4px solid #fbff00;
  box-shadow: 0 0 10px #FFDE00;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}